.App {
  text-align: center;
  background-color: lightslategray;
}

.home {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.head {
  font-family: "Lucida Console", Courier, monospace;
}

.enter {
  border-radius: 12px;
  color: maroon;
  background-color: darkgrey;
  font-family: cursive;
  margin: 12px;
  font-size: larger;
  padding: 12px;
}

.button {
  border-radius: 12px;
  color: darkgrey;
  background-color: maroon;
  font-family: cursive;
  margin: 12px;
  font-size: larger;
  padding: 12px;
}
